<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a [Nombre de la Empresa]</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;">
<div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border: 1px solid #ddd; border-radius: 8px;">
    <h2 style="color: #ffae00;" th:text="'¡Bienvenido/a ' + ${nombre} + '!'"></h2>

    <p style="font-size: 16px; line-height: 1.6;">
        Gracias por registrarte en <strong>ManArt</strong>. Ya puedes compara o vender productos.
    </p>
    <p style="font-size: 13px; line-height: 1.6;">
        Mira lo mas nuevo de nuestra pagina
    </p>
    <p>
        <a th:href="${linkRedirecionPagina}"
           style="background-color: #ffb224; color: white; padding: 10px 20px; text-decoration: none; border-radius: 4px; display: inline-block;">
            Ve a nuestra pagina :)
        </a>
    </p>

    <p style="font-size: 16px; line-height: 1.6;" th:text="${mensaje}">
        Estamos aquí para ayudarte en todo lo que necesites.
    </p>

    <p style="margin-top: 30px; font-size: 14px; color: #999;">
        Atentamente,<br>
        El equipo de ManArt
    </p>
</div>
</body>
</html>